<form class="text-center border border-light p-5">

    <p class="h4 mb-4">Titulo</p>
    <input type="text" id="defaultContactFormName" class="form-control mb-4" maxlength="60" placeholder="a" required>

    <br><br>
    
    <label>Estado</label>
    <br><br>
    <select class="browser-default custom-select mb-4" required>
        <option value="" disabled selected>Select</option>
        <option value="1">Iniciada</option>
        <option value="2">En proceso</option>
        <option value="3">Terminada</option>
    </select>
    <br>
    <button mdbBtn color="info" block="true" type="submit">Actualizar</button>

</form>

